<script type="text/x-handlebars" data-template-name="cards">
  {{#each cards}}
  <div {{bindAttr data-number="number"}} {{bindAttr class=":card tapped:tapped"}}>
    <img {{bindAttr src="image"}}>
  </div>
  {{/each}}
</script>
<h1><%= @player %></h1>
<div id="phase_bar">
  <ul>
    <li class="untap">Untap</li>
    <li class="upkeep">Upkeep</li>
    <li class="draw">Draw</li>
    <li class="main">Main</li>
    <li class="attack">Start Combat</li>
    <li class="attackers">Attackers</li>
    <li class="blockers">Blockers</li>
    <li class="damage">Demage</li>
    <li class="end_attack">End Combat</li>
    <li class="second_main">Main</li>
    <li class="end">End</li>      
  </ul>
</div>
<div id="players">
  <div class="player">
    <div class="player_info">
      <ul>
        <script type="text/x-handlebars">
          {{#view App.PlayerView}}
            <li class="player_name">{{view.name}}</li>
            <li class="player_life"> - {{view.life}}</li>
            <li class="player_library">{{view.lib}}</li>
            <li class="player_hand">{{view.hand}}</li>
          {{/view}}
        </script>
      </ul>
    </div>
    <div class="battlefield">          
      <div class="lands">
        <!--div class="card">
          <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=209399&amp;type=card">
        </div>
      </div>
      <div class="creatures">
        <div class="card">
          <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=227676&amp;type=card">
        </div>
        <div class="card">
          <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=227676&amp;type=card">
        </div-->
      </div>
    </div>
  </div>
  <div class="player" id="player-1">
    <div class="player_info">
      <ul>
        <li class="player_name">Player 1</li>
        <li class="player_life"> - 20</li>
        <li class="player_library">53</li>
        <li class="player_hand">7</li>
      </ul>
    </div>
    <div class="battlefield">
      <div class="creatures">
        
      </div>
      <!-- <div class="creatures">
        <div class="card">
          <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=227676&amp;type=card">
        </div>
        <div class="card">
          <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=227676&amp;type=card">
        </div>
        <div class="card">
          <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=227676&amp;type=card">
        </div>
      </div>        
      <div class="lands">
        <div class="card">
          <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=209399&amp;type=card">
        </div>
      </div>
    </div> -->
  </div>
</div>
<div id="hand">
</div>
<div id="auxiliar_bar">
  this is a bar
</div>