<!DOCTYPE html>
<html>
<head>
  <title>Mtglive</title>
  <%= stylesheet_link_tag    "game_play", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>